body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #142338;
}
.container{
  background-color: #f0ebd8;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
}
.lista{
  list-style: none;
  margin: 10px 0 0;
  padding: 5px;
  height:300px ;
  overflow: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.lista::-webkit-scrollbar{
  display: none;
}
.item{
width: 100%;
display: flex;
justify-content: space-between;
}
.item+.item{
  margin-top: 5px;
  border-top: 1px solid #ccac85;
  padding-top: 5px;
}
.inputBotao{
  display: flex;
  margin: 0;
  justify-content: space-between;

}
.btn{
  background-color: #4CAF50; 
  color: white;             
  padding: 5px 3px;        
  border: none;           
  border-radius: 5px;        
  cursor: pointer;           
  font-size: 16px;           
  transition: background-color 0.3s ease;
  
}

.btnDelete{
  background-color: #e70505; 
  color: white;             
  padding: 4px 3px;        
  border: none;           
  border-radius: 5px;        
  cursor: pointer;           
  font-size: 16px;           
  transition: background-color 0.3s ease;
}
.titulo{
  color: #142338;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input{
  box-shadow: #142338;
  border-radius: 3px;
}